autopep8==1.5.2
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
dash==1.13.3
dash-core-components==1.10.1
dash-html-components==1.0.3
dash-react-table==0.0.3
dash-renderer==1.5.0
dash-table==4.8.1
Flask==1.1.2
Flask-Compress==1.4.0
future==0.18.2
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.14.1
MarkupSafe==1.1.1
nltk==3.5
numpy==1.18.2
pandas==1.0.3
plotly==4.6.0
psycopg2==2.8.4
pycodestyle==2.5.0
python-dateutil==2.8.1
python-dotenv==0.12.0
pytz==2019.3
regex==2020.4.4
requests==2.23.0
requests-cache==0.5.2
retrying==1.3.3
six==1.14.0
SQLAlchemy==1.3.15
threadpoolctl==2.1.0
tqdm==4.45.0
urllib3==1.25.9
Werkzeug==1.0.1
